.main {
    width: 80%;
    margin: 0 auto;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    h3{
        margin-left: 2rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    h4{
        margin-left: 3rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    p {
        margin-left: 5rem;
        margin-bottom: 0.5rem;
    }
    img{
        margin: 0 auto;
    }
    .list{
        margin-left: 8rem;
    }
}